@model PersonalPortfolio.Models.RegisterVM
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>li#register-page{display: inline;}</style>
<h2>Check your email</h2>

<p>
    To complete your registration, you will need to verify your email address.
    To do this, click the link in the email that was just sent to you.  It may take a couple
    of minutes for you to receive it.  If you don't see it in your inbox, check
    your spam or junk folder.
</p>
<p>
    If you need the email verification link resent to you, log in on the Portfolio page
    and follow the directions.
</p>
<p>
    @Html.ActionLink("Return to Portfolio", "Index", "Home")
</p>
<script>
    window.onload = function () {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js";

        // Then bind the event to the callback function.
        // There are several events for cross browser compatibility.
        script.onreadystatechange = jQueryReady;
        script.onload = jQueryReady;
        script.async = true;
        // Fire the loading
        head.appendChild(script);
    }
    function jQueryReady() {
        $('.page-links').removeClass('active');
        $('#register-page').addClass('active');
        $('#register-button').click(function () {
            $('#register-form').submit();
        });
        // load bootstrap Readable font
        $('<link>').appendTo('head').attr({ type: 'text/css', rel: 'stylesheet' }).attr('href', 'https://fonts.googleapis.com/css?family=Raleway:400,700');
        $.getScript("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js");
        $.getScript("https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js");
    }
</script>