
@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    li#register-page {
        display: inline;
    }
    /* site wide styles */
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }
    li#register-page {
        display: none;
    }
</style>
<h2>Email Verification</h2>

@ViewBag.Message
<br /><br />
<p>
    @Html.ActionLink("Go to Portfolio", "Index", "Home")
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    $('.page-links').removeClass('active');
    $('#register-page').addClass('active');
</script>