.list-group-item {
    background-color:#F0F8FF;
    border-color: #E6E6FA;
}
#linkedIn {
    background: url("/Images/256px-Linkedin_icon.svg.png");
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 70px;
    width: 70px;
}
#linkedIn:hover {
    background-size: 100%;
}
#links {
    float: left;
    margin-right: 3vw;
}