/* site wide styles */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

li#register-page {
    display: none;
}

/* about page styles */

.list-group-item {
    background-color:#F0F8FF;
    border-color: #E6E6FA;
}
#linkedIn {
    background: url("/Images/256px-Linkedin_icon.svg.png");
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 70px;
    width: 70px;
}
#linkedIn:hover {
    background-size: 100%;
}
#links {
    float: left;
    margin-right: 3vw;
}