/* event calendar styles */

#left-arrow, #right-arrow {
    border: 1px solid black;
    padding: 5px;
}

#left-arrow:hover, #right-arrow:hover {
    border: 2px solid black;
    padding: 4px;
}

#events {
   border: 5px outset #778899;
    color: black;
    margin: 0 auto 10px;
    width: 100%;
}

#events td {
    font-size: 1.2em;
    width: 14%;
    text-align: left;
    vertical-align:top;
}

#event-box {
    background: #EEE8AA;
    border: 1px solid orange;
    display: none;
    padding: 1%;
    position: absolute;
    z-index: 1;
}

#closer-window {
    float: right; 
}

.event-buttons {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
}

.edit-event {
    margin-left: 5px;
}

#left-arrow {
    float: left;
    max-width: 10%;
}

#right-arrow {
    float: right;
    max-width: 10%;
}

.display-event {
    background-image: url('/Images/282px-Golden_star.svg.png');
    background-size:70%;
    background-position: center center;
    background-repeat: no-repeat;
}

#calendar-title {
    font-size: 2em;
    padding: 0.5vw;
    text-align: center;
}

#events th {
    border: none;
}

#weekdays {
   color: black; 
   background-color: #6495ED; 

}

#events table tr {
    background-color: white;
}

#events {
    border: 5px outset #778899;
    color: black;
    margin: 0 auto 10px;
}

#events td {
    border: 1px solid gray;
}

#events th {
    background-color: #6495ED;
    text-align: center;
}

#events tr:nth-child(even) {
    background-color: #C6E2FF;
}